# Configuration
.env

/GD.txt
/Config.py

/__pycache__
/function/__pycache__
/text/__pycache__
/command/game/__pycache__
/command/utils/__pycache__
/command/__pycache__
/db/__pycache__/
/db/function/__pycache__/